﻿@model SmartPhotos.Models.Album

@{
    ViewBag.Title = "Edit";
}
@if (Model.UserId == ViewBag.currentUser || ViewBag.esteAdmin)
{
    <h2>Edit album</h2>

    <form method="post" action="/Albums/Edit/@Model.Id">
        @Html.HiddenFor(m => m.UserId)
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <br />
        @Html.Label("Title", "Album title")
        <br />
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger " })
        <br />
        <br />
        <button class="btn btn-sm btn-success" type="submit">Edit album</button>
    </form>
}