﻿@{
    ViewBag.Title = "Index";
}
@if (ViewBag.esteAdmin)
{
    <h2>Comments</h2>
    if (TempData.ContainsKey("message"))
    {
        <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
    }
    foreach (var comment in ViewBag.Comments)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@comment.Content</div>
            <div class="panel-body">
                <p>Status: @comment.Status</p>
                <p>User: @comment.User.UserName</p>
                <p>Date: @comment.createdDate</p>
            </div>
            <div class="panel-footer">
                <form method="post" action="/Comments/Delete/@comment.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn-danger" type="submit">Delete comment</button>
                </form>
            </div>
        </div>
        <br />
    }
}
else
{
    <h2>Pending comments</h2>
    if (TempData.ContainsKey("message"))
    {
        <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
    }
    foreach (var comment in ViewBag.Comments)
    {
        if (comment.Photo != null && comment.Photo.UserId == ViewBag.userCurent)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@comment.Content</div>
                <div class="panel-body">
                    <p>Status: @comment.Status</p>
                    <p>User: @comment.User.UserName</p>
                    <p>Date: @comment.createdDate</p>
                </div>
                <div class="panel-footer">
                    <form method="post" action="/Comments/Approve/@comment.Id">
                        @Html.HttpMethodOverride(HttpVerbs.Put)
                        <button class="btn btn-sm btn-danger" type="submit">Approve comment</button>
                    </form>
                    <form method="post" action="/Comments/Decline/@comment.Id">
                        @Html.HttpMethodOverride(HttpVerbs.Put)
                        <button class="btn btn-sm btn-danger" type="submit">Decline comment</button>
                    </form>
                </div>
            </div>
            <br />
        }
    }
}

