﻿@model SmartPhotos.Models.PhotoViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit photo</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    <div>
        @Html.LabelFor(m => m.Title)
        <br />
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, "Titlul este obligatoriu", new { @class = "text-danger " })
    </div>
    <br />
    <br />
    <div>
        @Html.LabelFor(m => m.AltText, "Alt text")
        <br />
        @Html.EditorFor(m => m.AltText)
    </div>
    <br />
    <br />
    <div>
        @Html.LabelFor(m => m.Caption)
        <br />
        @Html.EditorFor(m => m.Caption)
        @Html.ValidationMessageFor(m => m.Caption, "Descrierea este obligatorie", new { @class = "text-danger " })
    </div>
    <br />

    <div>
        <label>Select category</label>
        <br />
        @Html.DropDownListFor(m => m.IdCategory, new SelectList(Model.Categories, "Value", "Text"), "Select category", new { @class = "form-control" })
    </div>
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Edit</button>
</form>