﻿
@{
    ViewBag.Title = "Index";
}

<h2>Photos</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@if (User.IsInRole("User") || User.IsInRole("Administrator"))
{
    <a class="btn btn-sm btn-success" href="/Photo/Create">Add an image</a>
    <br />
    <br />
}

<div class="container">
    <div class="row text-center text-lg-left">
        @foreach (var image in ViewBag.images)
        {
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" style="min-height: 313.6px; max-height: 313.6px;">
                    <a href="/Photo/Show/@image.Id">
                        <img src="@Url.Content(@image.ImageUrl)" alt="nimic" style="min-height: 200px; max-height:200px; min-width:200px; max-width:200px;">
                    </a>
                    <div class="caption">
                        <h3>@image.Title</h3>
                        @if (image.UserId == ViewBag.userCurent || ViewBag.esteAdmin)
                        {
                            <form method="post" action="/Photo/Delete/@image.Id">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="btn btn-sm btn-danger" type="submit">Delete photo</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


