﻿@model SmartPhotos.Models.ApplicationUser

@{
    ViewBag.Title = "Edit user";
}
@if (ViewBag.UserCurent == Model.Id)
{
    <ol class="breadcrumb">
        <li><h3>@ViewBag.Title</h3></li>
    </ol>

    <form method="post" action="/Manage/Edit/@Model.Id">
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.HiddenFor(m => m.Id)
        <br />
        <i class="glyphicon glyphicon-user"></i>
        @Html.Label("UserName", "User name", new { @class = "" })
        <br />
        @Html.EditorFor(m => m.UserName)
        <br /><br />
        <i class="glyphicon glyphicon-envelope"></i>
        @Html.Label("Email", "Email", new { @class = "" })
        <br />
        @Html.EditorFor(m => m.Email)
        <br /><br />
        <i class="glyphicon glyphicon-phone"></i>
        @Html.Label("PhoneNumber", "Phone number")
        <br />
        @Html.EditorFor(m => m.PhoneNumber)
        <br />
        <br />
        <button class="btn btn-sm btn-success" type="submit">Edit</button>
    </form>
}